<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {{ content | prepend: site.baseurl | prepend: site.url }}
    {{ site.stylesheet | relative_url | stylesheet_tag }}
  </head>

  <body>
    <div class="sidebar">
      <div class="sidebar-inner">
        <h2>📚</h2>
        <nav>
          <a href="/">🏠 Home</a>
          <a href="/blog">📝 Blog</a>
          <a href="/kits">📦 Digital Kits</a>
          <a href="/about">🌼 About</a>
        </nav>
      </div>
    </div>

    <div class="main-content">
      {{ content }}
      {%- include footer.html -%}
    </div>
  </body>
</html>
